@import './vendors-extensions/_bootstrap.scss';
@import './vendor/_include-media.scss';
@import './utils/_variables.scss';
@import './utils/_extends.scss';
@import './utils/_mixins.scss';
@import './utils/_functions.scss';
@import './utils/_helpers.scss';
@import './utils/_icons.scss';

@import './base/_fonts.scss';
@import './base/_reset.scss';
@import './base/_base.scss';
@import './base/_forms.scss';
@import './base/_typography.scss';

@import './layout/_layout.scss';
@import './layout/_header.scss';
@import './layout/_main-menu.scss';
@import './layout/_footer.scss';

@import './components/_c-user-balans.scss';
@import './components/_с-user-login.scss';
@import './components/_c-main-search-form.scss';
@import './components/_c-main-user-actions.scss';
@import './components/_c-info-section.scss';
@import './components/_c-info-tiles.scss';
@import './components/_c-card.scss';
@import './components/_c-card-tiny.scss';
@import './components/_c-card-info.scss';
@import './components/_c-socials.scss';

@import '_home.scss';

@import './vendor/_swiper.scss';

/*
@styleguide

@title Button

Use the button classes on and `<a>`, `<button>`, `<input>` elements.

<button class="button button--large button--red">Red Button</button>

    <button class="button button--large button--red">Red Button</button>

<button class="button button--large button--blue">Red Button</button>

    <button class="button button--large button--blue">Red Button</button>
*/
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.button--large {
  width: 140px;
  height: 40px;
  font-size: 14px;
}

.button--red {
  color: #fff;
  background-color: #fff;
}

.button--blue {
  color: #fff;
  background-color: #fff;
}
